{#
/**
 * @file products.html.twig
 * Default theme implementation to present Products data.
 *
 * This template is used when viewing Products pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_products()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('products') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
